/* Define the animations */
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/* Apply the animations to your elements */
.about,
.skills,
.skills__title,
.skills__list,
.skills__details,
.skills__icon,
.contactme,
.contactme__container,
.contactme__options {
  animation-name: fadeInUp;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}


.adventures-content,
.adventure-row,
.adventure-layer {
  animation-name: slideInRight;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

/* General Styles */
body {
  background-color: #0a192f;
  height: 1500px;
  color: #ffffff; /* Light text */
}

/* Navbar Styles */
.navbar {
  background-color: #1f1f1f;
  padding: 20px 0;
 
}

/* Link Styles */
a {
  color: #4fd1c5;
  text-decoration: none;
}

a:hover {
  color: #81e6d9;
}

.home,
.about,
.projects,
.contactme,
.adventures {
  display: flex;
  height: 120vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about {
  /* background-image: url('/Users/christian/Documents/myPROJECTS/react-website-christiannyamekye/public/images/img-2.jpg'); */
  /* background:#1f3f7b ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  color: #fff;
  font-size: 100px;

  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
  object-fit: contain;
}

.skills {
  background: #093074; /* Dark card background */
  color: #64ffda; /* Cyber-themed highlight color */
  border-radius: 15px;
  padding: 20px;
  margin: 100px auto; /* Centered with automatic horizontal margins */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 1100px;
  box-shadow: 0 0 5px #0ef, 0 0 10px #0ef;
}

.skills__title {
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.skills__details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.skills__icon {
  color: #64ffda;
  font-size: 1.5rem;
}

/* Adjustments for mobile devices */
@media screen and (max-width: 768px) {
  .skills__details,
  .projects__details {
    flex-basis: calc(100% - 20px); /* Full width for smaller screens */
  }

  .skills__icon,
  .projects__details-icon {
    font-size: 1rem; /* Smaller icons on mobile */
  }

  .skills__title,
  .projects__details h4 {
    font-size: 1.2rem; /* Smaller text on mobile */
  }

  .skills__list,
  .projects__list {
    gap: 10px; /* Smaller gap on mobile */
  }
}

/* Further adjustments for very small screens */
@media screen and (max-width: 480px) {
  .skills__details,
  .projects__details {
    flex-basis: 100%; /* Full width, no gap */
  }
}

/* Add additional styles and media queries as necessary */


.contactme {
  background: #274373; /* Dark background */
  color: #64ffda; /* Cyber-themed highlight color */
  padding: 100px 0;
  display: flex; /* Use flexbox to center children */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column; /* Stack children vertically */
  min-height: 100vh; /* Minimum height to fill the viewport */
  
}

.contactme__container {
  display: flex;
  justify-content: center; /* Center children horizontally */
  
  align-items: center; /* Center children vertically */
  flex-direction: column; /* Stack children vertically */
  gap: 50px;
  max-width: 1100px;
  margin: auto; /* Center the container */
  padding: 0 20px;
  box-sizing: border-box;
  height: 100%; /* Take the full height of the parent */
  /* box-shadow: 0 0 5px #0ef, 0 0 2px #0ef; */
}

.contactme__options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30;
  
}

.contactme__option {
  background: #0d3f96; /* Card background */
  padding: 20px;
  margin: 180px; /* Margin around the elements */
  border-radius: 15px; /* Rounded corners for the cards */
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out;
  box-shadow: 0 0 5px #0ef, 0 0 20px #0ef;
}

.contactme__option-icon {
  color: #64ffda; /* Cyber-themed highlight color for icons */
  margin-bottom: 10px;
  font-size: 2rem;
}

.contactme__option:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px -15px #020c1bb3;
}

.contactme__form {
  flex-grow: 1;
  max-width: 500px;
  margin-bottom: 30;
  
}

.contactme__form h3, .contactme__form h2 {
  color: #f8f8fa; /* Subtle text color */
  text-align: center;
  margin-bottom: 20px;
}

.contactme__form input,
.contactme__form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background: #033996; /* Input background */
  color: #64ffda; /* Input text color */
  border: 1px solid #64ffda; /* Border color */
}

.contactme__form button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background: #64ffda; /* Button background */
  color: #0a192f; /* Button text color */
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
}

.contactme__form button:hover {
  background-color: #52acb8; /* Button hover background */
}

@media (max-width: 768px) {
  .contactme__container {
    padding: 0 15px; /* Adjust padding for smaller screens */
    flex-direction: column; /* Stack children vertically on smaller screens */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
  }

  .contactme__form {
    max-width: 100%;
    order: 1;
  }
  .contactme__options {
    width: 100%; /* Full width on smaller screens */
    order: 2; /* Make sure options come before the form */
  }
  
}

.adventures {
  background-color: #0a192f; /* Dark background */
  color: #64ffda; /* Cyber-themed highlight color */
  padding: 50px 0;
  height: 1150;
}

#adventures h2 {
  text-align: center;
  color: #64ffda; /* Lighter text color */
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 50px;
}
.adventures-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
  gap: 5rem;
  /* Adjust margin as needed */
  margin: 0 70px;
}

.adventure-row {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  height: 300px; /* Adjust height as needed */
}

.adventure-row img {
  width: 100%;
  height: 200px; /* Adjust height as needed */
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
}

.adventure-layer {
  width: 100%;
  height: 200px; /* Adjust height as needed */
  background: linear-gradient(rgba(0, 0, 0, 0.1), #0ef);
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.6s;
}

.adventure-layer h5 {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.adventure-layer p {
  color: #000;
  font-size: 1rem;
  line-height: 1.8;
}

/* Add hover effects and other styles as needed */
.adventure-row:hover img {
  transform: scale(1.1);
}

.adventure-row:hover .adventure-layer {
  height: 100%; /* Cover the entire image on hover */
}